.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Converter-form {
  min-width: 90vw;
}

.Converter-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 10pt;
}

.Converter-label {
  font-size: large;
}

.Converter-codespace {
  min-height: 30vh;
  max-height: 100vh;
  background-color: #f3f3f3;
}

.Converter-button {
  padding: 5pt 10pt;
  margin: 0 20pt;
  color: #fff;
  background-color: #45c6ca;
  border: 1px solid;
  border-radius: 100vh;
}

.Converter-button:active {
  -webkit-transform: translate(0, 2px);
  -moz-transform: translate(0, 2px);
  transform: translate(0, 2px);
  border-bottom: none;
}

.Footer {
  border-top: #f3f3f3;
  margin-top: 10pt;
  color: white;
  font-size: small;
}
